.max-width {
  max-width: 1920px;
  margin: auto;
}

.banner {
  background-repeat: no-repeat ;
  background-size: cover;
}

.say-hello {
  background: url(../assets/aerial-photography-outdoor-park-views.jpg) no-repeat
    center;
}

.blue-background {
  background-color: #0a205c;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  background: white;
  color: black;
  box-shadow: 0 0 10px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  padding: 20px;
  font-size: 20px !important;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper {
  margin-right: unset !important;
}
